<!DOCTYPE html>
<html lang="ko", xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
    <title>AddForm</title>
</head>
<body>
<div class="container">
    <form th:action th:object="${checkUpdateBoardRequest}" method="post">

        <div class="py-5 text-center">
            <h2 th:text="#{label.board.checkPwd}">글 비밀번호 확인</h2>
        </div>

        <div>
            <label for="boardId" th:text="#{label.board.id}"> 글 번호</label>
            <input type="text" id="boardId" class="form-control"
                   th:field="*{boardId}">
        </div>

        <div>
            <label for="boardPassword" th:text="#{label.board.password}"></label>
            <input type="text" id="boardPassword" th:field="*{boardPassword}"
                   th:errorclass="field-error" class="form-control" placeholder="수정 할 글 비밀번호를 정확히 입력하세요.">
            <div class="field-error" th:errors="*{boardPassword}">
                비밀번호 오류
            </div>

        </div>
        <div>
            <button id="checkPwd"  th:type="submit" th:text="#{label.board.checkPwd}">글 비밀번호 확인</button>
            <input type="button" value="취소" th:onclick="|location.href='@{detail}'|">
        </div>
    </form>
</div>
</body>
</html>