<!DOCTYPE html>
<html lang="ko", xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        ul li{
            list-style-type: none;
            display: inline-block;
            margin-right: 10px;
        }
    </style>
    <title>boardList</title>
</head>

<script type="text/javascript" th:inline="javascript">

    function searchDone(){
        const selectChoice = document.getElementById("selectKeyWord").value;
        clearKeyWord();

        if (selectChoice == 'writer') {
            document.getElementById("writer").value = document.getElementById("keyWord").value;
            goSubmit();
        }
        else if (selectChoice == 'title') {
            document.getElementById("title").value = document.getElementById("keyWord").value;
            goSubmit();
        }
    };

    function goSubmit(){
        document.searchForm.submit();
    };

    function clearKeyWord(){
        document.getElementById('writer').value=null;
        document.getElementById('title').value=null;
    };

    function resetButton(){
        clearKeyWord();
        document.getElementById('selectSize').value=10;
        goSubmit();
    };
</script>
<body>
<div th:class="container">

    <div th:name="search_bar">
        <form th:action th:method="GET" name="searchForm">

            <input type="date" th:field="*{searchCondition.startDate}">
            <input type="date" th:field="*{searchCondition.endDate}">

            <br>

            <select id="selectKeyWord">
                <option th:value="writer" th:selected="${not #strings.isEmpty(searchCondition.writer)}">작성자</option>
                <option th:value="title" th:selected="${not #strings.isEmpty(searchCondition.title)}">제목</option>
            </select>

            <input hidden id="title" th:field="*{searchCondition.title}">
            <input hidden id="writer" th:field="*{searchCondition.writer}">

            <input id="keyWord" placeholder="검색어를 입력하세요." th:value="${searchCondition.title} + ${searchCondition.writer}">
            <button onclick="searchDone()" th:text="#{label.board.search}">검색</button>
            <button onclick="resetButton()" th:text="#{label.board.clear}">초기화</button>

            <select id="selectSize" th:field="*{searchCondition.size}" onchange="goSubmit()">
                <option value="10" th:selected="${searchCondition.size} == '10'">10개씩 보기</option>
                <option value="5" th:selected="${searchCondition.size} == '5'">5개씩 보기</option>
                <option value="7" th:selected="${searchCondition.size} == '7'">7개씩 보기</option>
            </select>
        </form>


    </div>

    <div>
        <table class="table-bordered">
            <thead>
            <th><label th:text="#{label.board.id}"></label></th>
            <th><label th:text="#{label.board.title}"></label></th>
            <th><label th:text="#{label.board.writer}"></label></th>
            <th><label th:text="#{label.board.updateDate}"></label></th>
            </thead>
            <tbody>
            <tr th:if="${boardAllListPaging.totalPages} == 0">
                <td colspan="4" th:align="center">
                    <a>게시 글이 없습니다.</a>
                </td>
            </tr>
            <tr th:if="${boardAllListPaging.totalPages} != 0" th:each="boardList : ${boardAllListPaging}">
                <td>
                    <a th:text="${boardList.getBoardId()}"></a>
                </td>
                <td>
                    <a th:href="@{/giantstep-study/board/{boardId}/detail (boardId=${boardList.getBoardId()})}" th:text="${boardList.getBoardTitle()}"></a>
                </td>
                <td>
                    <a th:text="${boardList.getBoardWriter()}"></a>
                </td>
                <td>
                    <a th:text="${boardList.getBoardUpdateDate()}"></a>
                </td>
            </tr>
            </tbody>
        </table>
        <div>
            <ul class="pagination" th:with="startNo=${(boardAllListPaging.number / 10) * 10 + 1},endNo=(${startNo + 9 < boardAllListPaging.totalPages ? startNo+9 : boardAllListPaging.totalPages})">
                <li th:if="${!boardAllListPaging.first} ? hidden">
                    <a th:href="@{listPaging(page=${boardAllListPaging.pageable.first().getPageNumber()+1}, startDate=${searchCondition.startDate}, endDate=${searchCondition.endDate}, writer=${searchCondition.writer}, title=${searchCondition.title}, size=${searchCondition.size})}">[처음]</a>
                </li>

                <li th:if="${boardAllListPaging.hasPrevious()} ? hidden">
                    <a th:href="@{listPaging(page=${boardAllListPaging.number}, startDate=${searchCondition.startDate}, endDate=${searchCondition.endDate}, writer=${searchCondition.writer}, title=${searchCondition.title}, size=${searchCondition.size})}">[이전]</a>
                </li>

                <li th:if="${boardAllListPaging.totalPages} != 0"  th:each="pageNum : *{#numbers.sequence(startNo, endNo)}">
                    <a th:href="@{listPaging(page=${pageNum}, startDate=${searchCondition.startDate}, endDate=${searchCondition.endDate}, writer=${searchCondition.writer}, title=${searchCondition.title}, size=${searchCondition.size})}" th:text="${pageNum}"></a>
                </li>

                <li th:if="${boardAllListPaging.hasNext()} ? hidden">
                    <a th:href="@{listPaging(page=${boardAllListPaging.number+2}, startDate=${searchCondition.startDate}, endDate=${searchCondition.endDate}, writer=${searchCondition.writer}, title=${searchCondition.title}, size=${searchCondition.size})}">[다음]</a>
                </li>

                <li th:if="${!boardAllListPaging.last} ? hidden">
                    <a th:href="@{listPaging(page=${boardAllListPaging.getTotalPages()}, writer=${searchCondition.writer}, startDate=${searchCondition.startDate}, endDate=${searchCondition.endDate}, title=${searchCondition.title}, size=${searchCondition.size})}">[마지막]</a>
                </li>
            </ul>
        </div>
        <div class="col">
            <button class="btn btn-primary btn-sm"
                    th:onclick="|location.href='@{boardAddForm}'|"
                    type="button" th:text="#{label.board.list.create}">글쓰기</button>
            <button class="btn btn-primary btn-sm"
                    th:onclick="|location.href='@{/}'|"
                    type="button" th:text="#{label.board.button.main}">메인으로</button>
        </div>
    </div>
</div>
</body>
