<!DOCTYPE html>
<html lang="ko", xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
    <title>AddForm</title>
</head>
<body>
<div class="container">
    <form action="/giantstep-study/board/{boardId}/edit" name="editeBoard" th:action th:object="${boardOneUpdate}" method="post">

        <div class="py-5 text-center">
            <h2 th:text="#{label.board.oneDetailTitle}">글 상세보기</h2>
        </div>

        <div>
            <label for="boardId" th:text="#{label.board.id}"> 글 번호</label>
            <input type="text" id="boardId" class="form-control"
                   th:field="*{boardId}" readonly>
        </div>

        <div>
            <label for="boardTitle" th:text="#{label.board.title}"></label>
            <input type="text" id="boardTitle" th:field="*{boardTitle}"
                   th:errorclass="field-error" class="form-control" placeholder="제목을 입력하세요">
            <div class="field-error" th:errors="*{boardTitle}">
                제목 오류
            </div>

            <label for="boardWriter" th:text="#{label.board.writer}"></label>
            <input type="text" id="boardWriter" th:field="*{boardWriter}" readonly class="form-control">

            <label for="boardContents" th:text="#{label.board.contents}"></label>
            <textarea type="text" id="boardContents" th:field="*{boardContents}" th:errorclass="field-error" class="form-control" placeholder="글 내용을 입력하세요"></textarea>
            <div class="field-error" th:errors="*{boardContents}">
                글 내용 오류
            </div>
        </div>
        <div>
            <button id="checkPwd"  th:type="submit" >수정완료</button>
            <input type="button" value="취소" th:onclick="|location.href='@{/giantstep-study/board/list}'|">
        </div>
    </form>
</div>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        window.onload = function () {
            let message = [[${message}]];

            if (message != null){
                alert(message);
            }
        }
    </script>
</th:block>

</body>
</html>