<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <style>
        .container {
            max-width: 560px;
        }
        ul li{
            list-style-type: none;
            display: inline-block;
            margin-right: 10px;
        }
    </style>
    <title>boardOneDetail</title>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2 th:text="#{label.board.oneDetailTitle}">글 상세보기</h2>
    </div>

    <div>
        <label for="boardId" th:text="#{label.board.id}"> 글 번호</label>
        <input type="text" id="boardId" name="boardId" class="form-control"
               th:value="${boardOneDetail.boardOneDetailDto.boardId}" readonly>
    </div>

    <div>
        <label for="boardTitle" th:text="#{label.board.title}">글 제목</label>
        <input type="text" id="boardTitle" name="boardTitle" class="form-control"
               th:value="${boardOneDetail.boardOneDetailDto.boardTitle}" readonly>
    </div>

    <div>
        <label for="boardWriter" th:text="#{label.board.writer}">작성자</label>
        <input type="text" id="boardWriter" name="boardWriter" class="form-control"
               th:value="${boardOneDetail.boardOneDetailDto.boardWriter}" readonly>
    </div>

    <div>
        <label for="boardContents" th:text="#{label.board.contents}">글 내용</label>
        <textarea type="text" id="boardContents" class="form-control"
                  th:field="${boardOneDetail.boardOneDetailDto.boardContents}" readonly></textarea>
    </div>

    <div>
        <label for="boardUpdateDate" th:text="#{label.board.updateDate}">글 수정일</label>
        <input type="text" id="boardUpdateDate" name="boardUpdateDate" class="form-control"
               th:value="${boardOneDetail.boardOneDetailDto.boardUpdateDate}" readonly>
    </div>

    <hr class="my-4">

    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    th:onclick="|location.href='@{checkUpdateBoardRequest}'|"
                    type="button" th:text="#{label.board.button.updateBoard}">글 수정</button>
        </div>

        <div class="col">
            <button class="w-100 btn btn-danger btn-lg"
                    th:onclick="|location.href='@{checkDeleteBoardRequest}'|"
                    type="button" th:text="#{label.board.button.deleteBoard}">글 삭제</button>
        </div>

        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg" th:onclick="|location.href='@{/giantstep-study/board/listPaging}'|"
                    type="button" th:text="#{label.board.button.list}">목록으로</button>
        </div>
    </div>

    <div th:name="comment">
        <div th:each="boardCommentList : ${boardOneDetail.boardCommentListDtos}">
            <div name="boardCommentListView">
                <a th:text="${boardCommentList.boardCommentId}"></a>
                <a th:text="${boardCommentList.boardCommentWriter}"></a>
                <a th:text="${boardCommentList.boardCommentUpdateDate}"></a>
                <input hidden th:value="${boardCommentList.boardCommentPassword}" id="boardCommentPassword" >

                <button type="button" data-bs-toggle="collapse" th:attr="data-bs-target=|#c${boardCommentList.boardCommentId}" > 수정</button>
                <!-- Button trigger modal -->
                <button type="button" data-bs-toggle="modal" th:attr="data-bs-target=|#c${boardCommentList.boardCommentId}">
                    삭제
                </button>

                <!-- 댓글 삭제 Modal 시작 -->
                <div class="modal fade" th:id="c + ${boardCommentList.boardCommentId}" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalCenterTitle">삭제할 댓글 비밀번호를 정확히 입력하세요.</h5>
                            </div>
                            <div class="modal-body">
                                <form id="commentDeleteCheckForm">
                                    <input th:value="${boardCommentList.boardCommentPassword}">
                                    <input id="deleteBoardCommentId" th:value="${boardCommentList.boardCommentId}">
                                    <input id="deleteBoardCommentPassword">
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary waves-effect wave-light" data-dismiss="modal" >취소하기</button>
                                <button type="button" onclick="commentDeleteDone()" class="btn btn-danger waves-effect wave-light">삭제하기</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 댓글 삭제 Modal 끝 -->

                <br>
                <a class="collapse show" th:id="c + ${boardCommentList.boardCommentId}" th:text="${boardCommentList.boardCommentContents}"></a>
                <br>
            </div>

            <div name="boardCommentUpdateForm" class="collapse" th:id="c + ${boardCommentList.boardCommentId}">
                <form id="updateBoardCommentForm" th:object="${boardCommentUpdateForm}" >

                    <input hidden th:value="${boardCommentList.boardCommentId}" id="updateBoardCommentID">
                    <input name="boardCommentContents" th:value="${boardCommentList.boardCommentContents}" id="updateBoardCommentContents" >
                    <input th:field="*{boardCommentPassword}" id="updateBoardCommentPassword" placeholder="비밀번호 입력하세요" >
                    <button onclick="commentUpdateDone()">완료</button>
                </form>
            </div>
            <hr>
        </div>

        <div>
            <ul class="pagination" th:with="startNo=${(boardOneDetail.boardCommentListDtos.number / 10) * 10 + 1},
            endNo=(${startNo + 9 < boardOneDetail.boardCommentListDtos.totalPages ? startNo+9 : boardOneDetail.boardCommentListDtos.totalPages})">
                <li th:if="${!boardOneDetail.boardCommentListDtos.first} ? hidden">
                    <a th:href="@{detail(page=${boardOneDetail.boardCommentListDtos.pageable.first().getPageNumber()+1})}">[처음]</a>
                </li>

                <li th:if="${boardOneDetail.boardCommentListDtos.hasPrevious()} ? hidden">
                    <a th:href="@{detail(page=${boardOneDetail.boardCommentListDtos.number})}">[이전]</a>
                </li>

                <li th:if="${boardOneDetail.boardCommentListDtos.totalPages} != 0"  th:each="pageNum : *{#numbers.sequence(startNo, endNo)}">
                    <a th:href="@{detail(page=${pageNum})}" th:text="${pageNum}"></a>
                </li>

                <li th:if="${boardOneDetail.boardCommentListDtos.hasNext()} ? hidden">
                    <a th:href="@{detail(page=${boardOneDetail.boardCommentListDtos.number+2})}">[다음]</a>
                </li>

                <li th:if="${!boardOneDetail.boardCommentListDtos.last} ? hidden">
                    <a th:href="@{detail(page=${boardOneDetail.boardCommentListDtos.getTotalPages()})}">[마지막]</a>
                </li>
            </ul>
        </div>

        <hr>

        <div th:name="commentAddForm">
            <form id="commentAddForm" th:object="${boardComment}">

                <input id="addBoardCommentWriter" th:type="text" th:field="*{addBoardCommentWriter}" placeholder="이름">

                <input id="addBoardCommentPassword" type="text" th:field="*{addBoardCommentPassword}" placeholder="비밀번호 입력하세요">

                <br>

                <textarea id="addBoardCommentContents" type="text" th:field="*{addBoardCommentContents}"  placeholder="내용을 입력하세요."></textarea>

                <button onclick="commentAddDone()">댓글 작성하기</button>
            </form>
        </div>
    </div>

    <script type="text/javascript">

        const boardCommentPassword = document.getElementById('boardCommentPassword').value;

        function commentAddDone() {
            const data = {
                addBoardCommentWriter: document.getElementById('addBoardCommentWriter').value,
                addBoardCommentPassword: document.getElementById('addBoardCommentPassword').value,
                addBoardCommentContents: document.getElementById('addBoardCommentContents').value
            }
            const regExp = /^[0-9]{4}/;
            // 댓글 유효성 검사
            if (!data.addBoardCommentWriter || data.addBoardCommentWriter.trim() === "") {
                alert("작성자는 공백일 수 없습니다!");
                return false;
            }
            else if (!data.addBoardCommentPassword || data.addBoardCommentPassword.trim() === "") {
                alert("비밀번호는 공백일 수 없습니다!");
                return false;
            }
            else if (!regExp.test(data.addBoardCommentPassword)){
                alert("비밀번호 형식은 숫자 4자리 입니다. ");
                return false;
            }
            else if (!data.addBoardCommentContents || data.addBoardCommentContents.trim() === "") {
                alert("내용은 공백일 수 없습니다!");
                return false;
            }

            document.getElementById('commentAddForm').method = 'POST';
            document.getElementById('commentAddForm').action = 'commentAdd';
            document.getElementById('commentAddForm').submit();
        };

        function commentUpdateDone() {
            const data = {
                updateBoardCommentContents: document.getElementById('updateBoardCommentContents').value,
                updateBoardCommentPassword: document.getElementById('updateBoardCommentPassword').value
            }
            //댓글 수정 폼 유효성 검사
            if (data.updateBoardCommentContents == null || data.updateBoardCommentContents.trim()===''){
                alert("수정할 댓글 내용은 공백일 수 없습니다!");
                return false;
            }
            else if (data.updateBoardCommentPassword.trim()===''){
                alert("비밀번호는 공백일 수 없습니다!");
                return false;
            }
            else if (!(data.updateBoardCommentPassword === boardCommentPassword) ){
                alert("비밀번호가 일치하지 않습니다. 다시 확인하세요!");
                return false;
            }

            let boardCommentId = document.getElementById('updateBoardCommentID').value;
            document.getElementById('updateBoardCommentForm').method = 'POST';
            document.getElementById('updateBoardCommentForm').action = boardCommentId;
            document.getElementById('updateBoardCommentForm').submit();
        };

        function commentDeleteDone() {
            const deleteBoardCommentPassword = document.getElementById('deleteBoardCommentPassword').value;

            //댓글 삭제 비밀번호 유효성 검사
            if (deleteBoardCommentPassword.trim()===''){
                alert("비밀번호가 공백일 수 없습니다!");
                return false;
            }
            if ( !(deleteBoardCommentPassword === boardCommentPassword) ){
                alert("비밀번호가 틀립니다. 다시 확인하세요!");
                return false;
            }
            const deleteBoardCommentId = document.getElementById('deleteBoardCommentId').value;
            document.getElementById('commentDeleteCheckForm').method = 'POST';
            document.getElementById('commentDeleteCheckForm').action = deleteBoardCommentId;
            document.getElementById('commentDeleteCheckForm').submit();
        }

    </script>

</div>

</body>
</html>