<!DOCTYPE html>
<html lang="ko", xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">

    <title>boardList</title>
</head>
<body>
<div th:class="container">
    <div>
        <table class="table-bordered">
            <thead>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
            </thead>
            <tbody>
                <tr th:each="boardList : ${boardAllList}">
                    <td>
                        <a th:text="${boardList.getBoardId()}"></a>
                    </td>
                    <td>
                        <a th:href="@{/giantstep-study/board/{boardId}/detail (boardId=${boardList.getBoardId()})}" th:text="${boardList.getBoardTitle()}"></a>
                    </td>
                    <td>
                        <a th:text="${boardList.getBoardWriter()}"></a>
                    </td>
                    <td>
                        <a th:text="${boardList.getBoardUpdateDate()}"></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="col">
            <button class="btn btn-primary btn-sm"
                    th:onclick="|location.href='@{/giantstep-study/board/boardAddForm}'|"
                    type="button" th:text="#{label.board.list.create}">글쓰기</button>
            <button class="btn btn-primary btn-sm"
                    th:onclick="|location.href='@{/}'|"
                    type="button" th:text="#{label.board.button.main}">메인으로</button>
        </div>
    </div>
</div>
</body>
